body{
    background-color: #d6e6f2;
}
body:hover{
    background-color: #f5eee6;
}

.menu{
    display: flex;
    justify-content: flex-end;
    background-color:#2d4059; ;
    padding: 10px;
}

.item{
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color:#d6e6f2;
    font-family: 'Roboto', sans-serif;
}
.start{
    margin-right: auto;   
}
.about{
    display: flex;
}
.hardi{
    flex:1;
}
.devis{
    display: flex;
    align-items: center;
}
.text{
    text-transform: uppercase;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}
.softskil{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #112d4e;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}
.softskil:hover{
    color: #07689f;
}


.list{
    display: flex;
    justify-content: space-evenly;
}

.roll{
    list-style: none;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    padding: 30px;
    
}
.roll:hover{
    background-color: #384259;
    color: #d6e6f2;
}
.label{
    display: flex;
flex-direction: column;
font-family: 'Roboto', sans-serif;
}


.btn{
    display: flex;
    justify-content: center;
}

button{
    background-color: #3f72af;
    color: #d6e6f2;
    padding: 20px;
    font-size: 15px;
    text-transform: uppercase;
    flex: 1;
    cursor: help;
}
button:hover{
    background-color: #384259;
}